@font-face {
    font-family: Sans-Serif;
}

body {
    background-color: #111;
    font-family: c64;
    color: #ccc;
    margin: 0px;
    padding: 0px;
}

#mm-canvas {
    display: block;
    margin: auto;
    background-color: black;
}
