@font-face {
    font-family: TerminalVector;
    src: url(font/TerminalVector.ttf);
}

body {
    background-color: #111;
    font-family: TerminalVector;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.65px;
    color: #ccc;
    margin: 0px;
    padding: 0px;
}

#mm-canvas {
    display: block;
    margin: auto;
    background-color: black;
}
